<settings>
<!--General-->
    <category label="30000">
    	<setting label="300001" type="lsep"/>
    	<setting type="action" label="30002" action="RunScript($CWD/config.py)"/>
    	<setting label="30003" type="lsep"/>
        <setting id="AutoOff" type="enum" label="30004" values="Disable|30|60|90|120|150|180|210|240" default="6"/>
        <setting id="ForceChannelReset" type="bool" label="30005" default="false"/>
        <setting id="ChannelResetSetting" type="enum" label="30006" values="Automatic|Daily|Weekly|Monthly|Never|Every Time" default="0"/>
    	<setting id="StartMode" type="enum" label="30007" values="Resume|Real Time|Random" default="1" />
    	<setting id="ThreadMode" type="enum" label="30008" values="On|Minimum Use|Off" default="1" />
    	<setting id="ChannelSharing" type="bool" label="30009" default="false"/>
    	<setting id="SettingsFolder" subsetting="true" type="folder" source="auto" visible="eq(-1,true)" label="30010" default="" />
        <setting id="HdhomerunMaster" subsetting="true" type="bool" label="30011" default="true" visible="eq(-2,true)" />
    </category>
<!--Visual-->
    <category label="30200">
        <setting id="InfoOnChange" type="bool" label="30201" default="true"/>
        <setting id="InfoTimer" subsetting="true" visible="eq(-1,true)" type="enum" label="30202" values="5|10|15|20|25" default="0"/>
        <setting id="ShowSeEp" type="bool" label="30203" default="true"/>
        <setting id="EPGcolor_enabled" label="30213" type="enum" values="Disabled|Genre Type|Channel Type" default="0" />
        <setting id="art.enable" label="30214" type="bool" default="false" /> 
        <setting id="ShowChannelBug" type="bool" label="30204" default="true"/>
    	<setting id="ColorOverlay" type="bool" label="30205" default="false"/>
    	<setting id="ChannelLogoFolder" type="folder" source="auto" label="30206" default="special://home/addons/script.pseudotv.live/resources/skins/default/images/"/>
    	<setting id="SkinSelector" type="enum"  label="30211" values="default|Frosted Glass|AeonNox Orange|Match XBMC Skin (if available)" default="0"/>
    	<setting id="SkinLogos" type="bool" label="30212" default="false"/>
   </category>
<!--Tweaks-->
    <category label="30040">
        <setting id="Auto_Start" type="bool" label="30044" default="false"/>
        <setting id="timer_amount" type="enum" values="0|5|10|15|20" label="30045" subsetting="true" visible="eq(-1,true)" default="0"/>
        <setting id="notify" type="bool" label="30046" subsetting="true" visible="eq(-2,true)" default="false"/>
        <setting id="ChannelDelay" type="enum" label="30041" default="0" values="None|0.25|0.5|0.75|1.0|1.25|1.5|1.75|2.0"/>
        <setting id="ClockMode" type="enum" label="30207" default="0" values="12 Hour|24 Hour"/>
    	<setting id="EnableComingUp" type="bool" label="30208" default="true"/>
    	<setting id="HideClips" type="bool" label="30209" default="true"/>
    	<setting id="ClipLength" type="enum" subsetting="true" label="30210" visible="eq(-1,true)" values="15|30|60|90|120|180|240|300|360" default="2"/>
    	<setting id="EnableDown" type="bool" label="30049" default="false"/>
    	<setting id="TVFileSys" type="enum" subsetting="true" label="30050" visible="eq(-1,true)" values="\Title\Season\Media.ext|\Title\Media.ext" default="0"/>
    	<setting id="MovieFileSys" type="enum" subsetting="true" label="30051" visible="eq(-2,true)" values="\Movies\Title\Media.ext|\Movies\Media.ext" default="0"/>
    </category>
<!--Live Features-->
   <category label="30400">
        <setting id="os" type="enum" values="Android Arm|Android x86|ATV1 Linux|ATV1 Stock|ATV2|IOS|Linux 32bit|Linux 64bit|Mac 32bit|Mac 64bit|Rasberry Pi|Windows|TLBB" label="30401" default="11" />
       	<setting id="IncludeIceLib" type="bool" label="30402" visible="eq(-1,!true)" default="true"/>
        <setting label="30403" type="lsep"/>
        <setting id="xmltvLOC" type="folder" source="auto" label="30404" default="" />
        <setting label="30405" type="lsep"/>
        <setting id="Parselimit" type="enum" label="30406" values="50|100|150|200|250" default="0"/>
        <setting id="Includestrms" type="bool" label="30407" default="false"/>
    </category>
<!--Autotune-->
    <category label="30070">
      	<setting id="Autotune" type="bool" label="30071" default="false"/>
      	<setting id="Warning1" type="bool" label="30072" subsetting="true" visible="eq(-1,true)" default="false"/>
        <setting type="lsep" label="30073" visible="eq(-1,true)"/>
      	<setting id="autoFindLiveUSTVnow" type="bool" label="30074" subsetting="true" visible="eq(-2,true)" default="false"/>
      	<setting id="autoFindLiveHDhomerun" type="bool" label="30075" subsetting="true" visible="eq(-3,true)" default="false"/>
        <setting type="lsep" label="30076" visible="eq(-4,true)"/>
      	<setting id="autoFindCustom" type="bool" label="30077" subsetting="true" visible="eq(-5,true)" default="false"/>
        <setting id="autoFindNetworks" type="bool" label="30078" subsetting="true" visible="eq(-6,true)" default="false"/>
      	<setting id="autoFindStudios" type="bool" label="30079" subsetting="true" visible="eq(-7,true)" default="false"/>
      	<setting id="autoFindTVGenres" type="bool" label="30080" subsetting="true" visible="eq(-8,true)" default="false"/>
      	<setting id="autoFindMovieGenres" type="bool" label="30081" subsetting="true" visible="eq(-9,true)" default="false"/>
      	<setting id="autoFindMixGenres" type="bool" label="30082" subsetting="true" visible="eq(-10,true)" default="false"/>
      	<setting type="lsep" label="30083" visible="eq(-11,true)"/>
        <setting id="autoFindMusicGenres" type="bool" label="30084" subsetting="true" visible="eq(-12,true)" default="false"/>
      	<setting id="autoFindMusicVideosYoutube" type="bool" label="30085" subsetting="true" visible="eq(-13,true)" default="false"/>
      	<setting id="autoFindMusicVideosVevoTV" type="bool" label="30086" subsetting="true" visible="eq(-14,true)" default="false"/>
      	<setting id="autoFindMusicVideosLastFM" type="bool" label="30087" subsetting="true" visible="eq(-15,true)" default="false"/>
        <setting id="autoFindMusicVideosLastFMuser" subsetting="true" label="30088" visible="eq(-1,true)" type="text" default=""/>
      	<setting id="autoFindMusicVideosLocal" type="folder" source="auto" label="30089" subsetting="true" visible="eq(-17,true)" default=""/>
      	<setting type="lsep" label="30090" visible="eq(-18,true)"/>
        <setting id="autoFindInternetStrms" type="bool" label="30091" subsetting="true" visible="eq(-19,true)" default="false"/>
        <setting id="autoFindInternetLiveStream" type="bool" label="30092" subsetting="true" visible="eq(-20,true)" default="false"/>
        <setting id="autoFindInternetLiveStreamDir" type="folder" source="auto" label="30093" subsetting="true" visible="eq(-1,true)" default=""/>
      	<setting type="lsep" label="30097" visible="eq(-22,true)"/>
        <setting id="ATLimit" label="30406" subsetting="true" type="enum" values="25|50|100|250|500|1000|Unlimited" visible="eq(-23,true)" default="0"/>
        <setting id="ATRestore" type="bool" label="30099" visible="eq(-25,false) "default="false"/>
      	<setting id="Warning2" type="bool" subsetting="true" label="30100" visible="eq(-1,true)" default="false" action="RunScript($CWD/restore.py)"/> />
    </category>
<!--BCTs-->   
    <category label="30998">
        <setting label="30999" type="lsep"/>
        <setting label="30101" type="lsep"/>
        <setting label="30102" type="text" enable="true"/>
        <setting label="30103" id="bumpers" type="bool" default="false" />
        <setting label="30104" type="text" visible="eq(-1,true)" enable="true"/>
        <setting label="30105" id="bumpersfolder" type="folder" visible="eq(-2,true)" default="" />
        <setting label="30106" type="text" visible="eq(-3,true) + !eq(-1,)" enable="true"/>
        <setting label="30107" id="numbumpers" type="enum" visible="eq(-4,true) + !eq(-2,)" values="Auto|1|2|3|4|5" default="0"/>
        <setting label="30108" type="text" visible="eq(-5,true) + !eq(-3,) + eq(-1,0)" enable="true"/>
        <setting label="30109" id="maxbumpers" type="enum" visible="eq(-6,true) + !eq(-4,) + eq(-2,0)" values="1|2|3|4|5" default="0"/>
        <setting label="30110" type="text" visible="eq(-8,true)" enable="true"/>
        <setting label="30111" type="text" visible="eq(-9,true)" enable="true"/>
        <setting label="30112" type="text" visible="eq(-10,true)" enable="true"/>        
        <setting label="30201" type="lsep"/>
        <setting label="30202" type="text" enable="true"/>
        <setting label="30203" id="commercials" type="bool" default="false" />
        <setting label="30204" type="text" visible="eq(-1,true)" enable="true"/>
        <setting label="30205" id="commercialsfolder" type="folder" visible="eq(-2,true)" default="" />
        <setting label="30206" type="text" visible="eq(-3,true) + !eq(-1,)" enable="true"/>
        <setting label="30207" id="numcommercials" type="enum" visible="eq(-4,true) + !eq(-2,)" values="Auto|1|2|3|4|5" default="0"/>
        <setting label="30208" type="text" visible="eq(-5,true) + !eq(-3,) + eq(-1,0)" enable="true"/>
        <setting label="30209" id="maxcommercials" type="enum" visible="eq(-6,true) + !eq(-4,) + eq(-2,0)" values="1|2|3|4|5" default="0"/>
        <setting label="30301" type="lsep"/>
        <setting label="30302" type="text" enable="true"/>
        <setting id="trailers" type="bool" label="30303" default="false" />
        <setting label="30304" type="text" visible="eq(-1,true)" enable="true"/>
        <setting id="trailersfolder" type="folder" visible="eq(-2,true)" label="30305" default="" />
        <setting label="30306" type="text" visible="eq(-3,true) + !eq(-1,)" enable="true"/>
        <setting id="numtrailers" type="enum" label="30307" visible="eq(-4,true) + !eq(-2,)" values="Auto|1|2|3|4|5" default="0"/>
        <setting label="30308" type="text" visible="eq(-5,true) + !eq(-3,) + eq(-1,0)" enable="true"/>
        <setting id="maxtrailers" type="enum" label="30309" visible="eq(-6,true) + !eq(-4,) + eq(-2,0)" values="1|2|3|4|5" default="0"/>
    </category>
    <!--PVR-->
    <category label="30800">
        <setting id="PVR_Enabled" label="30801" type="bool" default="false"/>
        <setting id="PVR_Folder" subsetting="true" label="30802" visible="eq(-1,true)" type="text" default="" />
    </category> 
    <!--APIs-->
    <category label="30700">  
        <setting id="tvdb.enabled" label="30702" type="bool" default="false" />
        <setting id="tvdb.apikey" subsetting="true" label="30703" visible="eq(-1,true)" type="text" default="Enter API KEY" />
        <setting id="tmdb.enabled" label="30704" type="bool" default="false" />
        <setting id="tmdb.apikey" subsetting="true" label="30705" visible="eq(-1,true)" type="text" default="Enter API KEY"/>
        <setting id="fandb.enabled" label="30706" type="bool" default="false" />
        <setting id="fandb.apikey" subsetting="true" label="30707" visible="eq(-1,true)" type="text" default="Enter API KEY"/>
        <setting id="sickbeard.enabled" label="30708" type="bool" default="false" />
        <setting id="sickbeard.baseurl" subsetting="true" label="30709" visible="eq(-1,true)" type="text" default="http://localhost:8081"/>
        <setting id="sickbeard.apikey" subsetting="true" label="30710" visible="eq(-2,true)" type="text" default="Enter API KEY"/>
        <setting id="couchpotato.enabled" label="30711" type="bool" default="false" />
        <setting id="couchpotato.baseurl" subsetting="true" label="30709" visible="eq(-1,true)" type="text" default="http://localhost:5050"/>
        <setting id="couchpotato.apikey" subsetting="true" label="30710" visible="eq(-2,true)" type="text" default="Enter API KEY"/>
    </category> 
    <!--MISC-->
    <category label="30900">
        <setting id="Donor_Enabled" label="30901" type="bool" default="false"/>
        <setting id="Donor_UP" subsetting="true" label="30902" visible="eq(-1,true)" type="text" default="User:Password" />    
        <setting label="30903" visible="eq(-2,true)" type="lsep" default="" /> 
        <setting label="30990" type="lsep"/>
        <setting id="Override_ok" type="bool" label="30991" default="false"/>
        <setting id="ga_disable" type="bool" label="30992" default="false"/>
        <setting id="enable_Debug" type="bool" label="30993" default="false"/>
        <setting type="action" label="30999" action="RunScript($CWD/defrag.py)"/>
    </category>
</settings>
