<settings>
    <category label="30000">
    	<setting label="30007" type="lsep"/>
    	<setting type="action" label="30008" action="RunScript($CWD/config.py)"/>
    	<setting label="30009" type="lsep"/>
        <setting id="AutoOff" type="enum" label="30001" values="Disable|30|60|90|120|150|180|210|240" default="6"/>
        <setting id="ForceChannelReset" type="bool" label="30002" default="false"/>
        <setting id="ChannelResetSetting" type="enum" label="30004" values="Automatic|Daily|Weekly|Monthly|Never|Every Time" default="0"/>
    	<setting id="StartMode" type="enum" label="30011" values="Resume|Real Time|Random" default="1" />
    	<setting id="ThreadMode" type="enum" label="30012" values="On|Minimum Use|Off" default="1" />
    	<setting id="ChannelSharing" type="bool" label="30015" default="false"/>
    	<setting id="SettingsFolder" subsetting="true" type="folder" source="auto" visible="eq(-1,true)" label="30013" default="" />
        <setting id="HdhomerunMaster" subsetting="true" type="bool" label="30200" default="true" visible="eq(-2,true)" />
    	<setting id="IncludeIceLib" type="bool" label="30019" default="true"/>
    </category>

    <category label="30020">
        <setting id="InfoOnChange" type="bool" label="30003" default="true"/>
    	<setting id="ShowChannelBug" type="bool" label="30006" default="true"/>
    	<setting id="ChannelLogoFolder" type="folder" source="auto" label="30010" default="special://home/addons/script.pseudotv.live/resources/images/"/>
    	<setting id="ClockMode" type="enum" label="30014" default="0" values="12 Hour|24 Hour"/>
    	<setting id="EnableComingUp" type="bool" label="30016" default="true"/>
    	<setting id="HideClips" type="bool" label="30017" default="true"/>
    	<setting id="ClipLength" type="enum" subsetting="true" label="30018" visible="eq(-1,true)" values="15|30|60|90|120|180|240|300|360" default="2"/>
    	<setting id="ShowSeEp" type="bool" label="30021" default="false"/>
    </category>
    
    <category label="30022">
        <setting id="ChannelDelay" type="enum" label="30023" default="0" values="None|0.25|0.5|0.75|1.0|1.25|1.5|1.75|2.0"/>
<!--         <setting id="tvdb.enabled" label="30029" type="bool" default="false" />
        <setting id="tvdb.apikey" label="30030" visible="eq(-1,true)" type="text" default="01F0668B2FC765B9" />
        <setting id="tvdb.showart" label="30031" visible="eq(-2,true)" type="bool" default="false" />
		<setting id="tmdb.enabled" label="30032" type="bool" default="false" />
        <setting id="tmdb.apikey" label="30033" visible="eq(-1,true)" type="text" default="c974c461a9767defec862674bf6c704e"/>
        <setting id="tmdb.showart" label="30034" visible="eq(-2,true)" type="bool" default="false" /> -->
    </category>

   <category label="30201">
		<setting id="LiveTV" label="30500" type="lsep" />
        <setting id="IncludeLiveTV" type="bool" label="30024" default="false"/>
		<setting id="XMLTV" subsetting="true" type="folder" source="auto" visible="eq(-1,true)" label="30501" default="" />
		<setting id="InternetTV" label="30502" type="lsep" />
        <setting id="IncludeInternetTV" type="bool" label="30025" default="true"/>
        <setting id="IncludeYoutubeTV" type="bool" label="30026" enable="System.HasAddon(plugin.video.youtube)" default="true"/>
        <setting id="IncludeYoutubeTVstrms" type="bool" visible="eq(-1,true)" label="30027" default="false"/>
    </category>

    <category label="30904">
    	<setting type="lsep"/>
    	<setting label="30040" type="lsep"/>
      	<setting id="Autotune" type="bool" label="30041" default="false"/>
      	<setting id="Warning" type="bool" label="30042" visible="eq(-1,true)" default="false"/>
      	<setting id="AutotuneTV" type="bool" label="30043" visible="eq(-1,true)" default="false"/>
      	<setting id="AutotuneMovie" type="bool" label="30044" visible="eq(-2,true)" default="false"/>
      	<setting id="AutotuneMixed" type="bool" label="30045" visible="eq(-1,true) + eq(-2,true)" default="false"/>
        <setting id="AutotuneTVGenre" type="bool" label="30046" visible="eq(-1,true) + !eg(-4,true)" default="false"/>
        <setting id="AutotuneMovieGenre" type="bool" label="30047" visible="eq(-2,true) + !eg(-5,true)" default="false"/>
        <setting id="AutotuneMusic" type="bool" label="30048" visible="eq(-6,true)" default="false"/>
      	<setting id="AutotuneLiveTV" type="bool" label="30049" visible="eq(-7,true)" default="false"/>
      	<setting id="AutotuneInternetTV" type="bool" label="30050" visible="eq(-8,true)" default="false"/>
      	<setting id="Restore" type="bool" label="30051" visible="!eq(-10,true)" default="false"/>
      	<setting id="Warning2" type="bool" label="30052" visible="eq(-1,true)" default="false"/>
    </category>
<!--     <category label="30905">
        <setting label="30909" type="lsep"/>
        <setting type="sep"/>
        <setting label="30912" type="text" enable="true"/>
        <setting label="30913" id="bumpers" type="bool" default="false" />
        <setting label="30914" type="text" visible="eq(-1,true)" enable="true"/>
        <setting label="30915" id="bumpersfolder" type="folder" visible="eq(-2,true)" default="" />
        <setting label="30916" type="text" visible="eq(-3,true) + !eq(-1,)" enable="true"/>
        <setting label="30917" id="numbumpers" type="enum" visible="eq(-4,true) + !eq(-2,)" values="Auto|1|2|3|4|5" default="0"/>
        <setting label="30918" type="text" visible="eq(-5,true) + !eq(-3,) + eq(-1,0)" enable="true"/>
        <setting label="30919" id="maxbumpers" type="enum" visible="eq(-6,true) + !eq(-4,) + eq(-2,0)" values="1|2|3|4|5" default="0"/>
        <setting type="sep"/>
        <setting label="30920" type="text" visible="eq(-8,true)" enable="true"/>
        <setting label="30921" type="text" visible="eq(-9,true)" enable="true"/>
        <setting label="30922" type="text" visible="eq(-10,true)" enable="true"/>
    </category> -->
</settings>
